<div class="cyclone-toolbar add-time" ng-hide="$ctrl.hideAddTime">
    <md-card>
        <div class="md-headline">
            <div ng-if="!$ctrl.newEntryManualTime.value">
                <span>What have you done in the last</span>
                <em>{{ $ctrl.currentDuration | humanizeDate }}</em>
            </div>
            <div ng-if="$ctrl.newEntryManualTime.value">
                <span>What have you done until {{$ctrl.newEntryManualTime.value | date : "H:mm"}}</span>
            </div>
        </div>
        <form ng-submit="$ctrl.addEntry()"
              layout="row"
              layout-wrap
              name="addEntryForm"
              class="add-time__form">
            <autocomplete-project
                flex="50"
                flex-gt-sm="20"
                ng-blur="$ctrl.onBlur($event)"
                on-update="$ctrl.updateProject($event)"
                project="$ctrl.currentTask.newEntryProject"
                set-focus="$ctrl.setFocus"
            >
            </autocomplete-project>

            <md-input-container
                    flex="50"
                    flex-gt-sm="20">
                <input id="newTaskName"
                       type="text"
                       ng-model="$ctrl.currentTask.newEntryTask"
                       ng-change="$ctrl.currentTask.$save($ctrl.currentTask)"
                       aria-label="Task">
                <label for="newTaskName">Task / Issue</label>
            </md-input-container>

            <md-input-container
                    flex="50"
                    flex-gt-sm="20">
                <input id="newTaskText"
                       type="text"
                       ng-model="$ctrl.currentTask.newEntryText"
                       ng-change="$ctrl.currentTask.$save($ctrl.currentTask)"
                       aria-label="Description text of new task">
                <label for="newTaskText">Description</label>
            </md-input-container>

            <md-input-container class="entry__info__select entry__info__select--type">
                <label>Type</label>
                <md-select id="newTaskType"
                           ng-model="$ctrl.currentTask.newEntryType"
                           ng-change="$ctrl.currentTask.$save($ctrl.currentTask)"
                           aria-label="Type of entry"
                           ng-keydown="$event.which === 13 && addEntry()">
                    <md-option ng-repeat="type in $ctrl.timeTypesService" ng-value="type.value">
                        <span style="display: none">{{type.name}}</span><md-icon>{{type.icon}}</md-icon> <span class="option__name">{{type.name}}</span>
                    </md-option>
                </md-select>
            </md-input-container>

            <md-input-container
                    flex="auto"
                    class="add-time__form__time">
                <input type="time"
                       id="newTaskManualTime"
                       name="input"
                       ng-model="$ctrl.newEntryManualTime.value"
                       ng-change="$ctrl.timeUpdate($ctrl.newEntryManualTime)"
                       placeholder="HH:mm" min="00:00:00" max="24:00:00"/>
                <label for="newTaskManualTime">Manual end time</label>
            </md-input-container>
            <div flex="nogrow"
                 class="add-time__form__submit">
                <a class="add-button"
                   ng-click="$ctrl.addEntry()">
                    <md-button class="md-fab md-accent" aria-label="Add Entry">
                        <md-icon>add</md-icon>
                    </md-button>
                </a>
            </div>

            <button type="submit" class="submitbutton hide">Submit</button>
        </form>
    </md-card>
</div>