<h1><md-icon>account_circle</md-icon> Profile</h1>
<br>
<p>
    Feel free to customize your Cyclone experience with the following settings:
</p>
<md-nav-bar md-selected-nav-item="$ctrl.currentNavItem" nav-bar-aria-label="navigation links">
    <md-nav-item md-nav-sref="profile-crud({group: 'actions'})" name="actions">Action-buttons</md-nav-item>
    <md-nav-item md-nav-sref="profile-crud({group: 'time'})" name="time">Time format</md-nav-item>
    <md-nav-item md-nav-sref="projects-crud" name="projects">Projects</md-nav-item>
    <md-nav-item md-nav-sref="profile" name="profile">Profile</md-nav-item>
</md-nav-bar>

<ui-view><h3>Maybe we show some user info here ?</h3></ui-view>