<div class="project">
    <form name="projectDetailForm" novalidate
          layout="row">
        <md-input-container>
            <label>
                Projectname
            </label>
            <input
                type="text"
                name="name"
                required="required"
                ng-change="$ctrl.updateProject();"
                ng-model-options="{
                    'updateOn': 'default blur',
                    'debounce': {
                        'default': 250,
                        'blur': 0
                    }
                }"
                ng-model="$ctrl.project.name">
        </md-input-container>
        <md-input-container>
            <label>
                Type
            </label>
            <input
                type="text"
                name="type"
                required="required"
                ng-change="$ctrl.updateProject();"
                ng-model-options="{
                    'updateOn': 'default blur',
                    'debounce': {
                        'default': 250,
                        'blur': 0
                    }
                }"
                ng-model="$ctrl.project.type">
        </md-input-container>
        <md-input-container>
            <label>
                Color
            </label>
            <input
                type="text"
                name="color"
                required="required"
                ng-change="$ctrl.updateProject();"
                ng-model-options="{
                    'updateOn': 'default blur',
                    'debounce': {
                        'default': 250,
                        'blur': 0
                    }
                }"
                ng-model="$ctrl.project.color">
        </md-input-container>

        <md-input-container ng-if="$ctrl.isNewProject">
            <button
                ng-disabled="projectDetailForm.$invalid"
                ng-click="$ctrl.saveProject();">
                Create Project
            </button>
        </md-input-container>
        <div class="actions" ng-if="!$ctrl.isNewProject">
            <!-- DELETE BUTTON -->
            <md-button ng-click="$ctrl.deleteProject();"
                       class="md-fab md-mini show-on-hover"
                       aria-label="Delete entry">
                <md-tooltip md-direction="top">
                    Delete
                </md-tooltip>
                <md-icon>delete_forever</md-icon>
            </md-button>
        </div>
    </form>
</div>