<ui-view name="head"></ui-view>
<br>
<div class="todos todos--crud">
  <div class="todos-list">
    <md-card ng-repeat="todo in $ctrl.todos" class="ui-row ui-row--animation activate--show-on-hover">
      <todo-detail todo="todo" on-delete="$ctrl.deleteTodo($event)" on-update="$ctrl.updateTodo($event)">
      </todo-detail>
    </md-card>
  </div>
  <div class="todos__empty" ng-if="!$ctrl.todos.length">
    <i class="material-icons">face</i>
    There's nothing yet here...
  </div>
  <ui-view></ui-view>
</div>