.add-time {
    .add-time__form {
        min-width: 100px;
    }

    .add-time__form__time {
        max-width: 120px;
    }
    .add-time__form__submit {
        position: relative;
        width: 70px;
        max-width: 70px;
    }
}