.calendar__tile {
    md-chip {
        position: absolute;
        top: 10px;
        left: 10px;
    }
}

.calendar__content {
    width: 90%;
    font-size: 10px;
}

.calendar__tile {
    background-color: @colorPrimary;
}
.calendar__tile--weekend {
    background-color: @colorPrivate;
}

md-grid-tile-footer {
    justify-content: center;
}