.calendar__tile {
    color: white;
    padding: 5px;
    background-color: @colorPrimary;

    > figure {
        align-items: flex-start;
    }
}

.calendar__tile--weekend {
    background-color: @colorPrivate;
}

.calendar__content {
    width: 100%;
    padding: 10px;
}

.calendar__text {
    font-size: 10px;
}

md-grid-tile-footer {
    justify-content: center;
}