// Hide angular during loading process
// https://docs.angularjs.org/api/ng/directive/ngCloak
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.login {
    height: ~'calc(100vh - 64px)';
    text-align: center;
}
.footer-stats .version {
    text-align: center;
    @media only screen and (min-width: 960px) {
        text-align: right;
    }
}
.profileLink {
    color: white;
    cursor: pointer;
}
.inline {
    display: inline-block;
}
.timelog__entries {
    margin: 0 auto;
}
.time-information > div {
    padding: 10px;
    display: inline-block;
}

.entry__timestamp {
    position: relative;
    top: -15px;
    font-size: 1.1rem;

    .cyclone-table--grouped & {
        top: 0;
        font-size: 0.7rem;
    }

    .entry__timestamp__start {
        position: absolute;
        bottom: 0;
    }
}

.entry {
    position: relative;
    margin: 2px 0;

    .md-input-has-value {
        margin: 0;
        display: block;
    }
    .entry__info {
        margin-right: 1em;
    }
    .entry__info__input {
        display: block;
        margin: 0;
        padding: 0;
    }
    .entry__info__input--text {
        margin: 0;
        padding: 0;
        font-size: 0.8rem;
    }
    .entry__info__input--group {
        margin-top: 20px;
    }
    .entry__info__input--project input {
        font-weight: bold;
        font-size: 1.3rem;
    }
    .md-errors-spacer {
        min-height: unset;
    }
    md-card {
        position: relative;
        padding: 10px;
        margin: 0 0 0 10px;
    }

    .entry__checked {
        position: absolute;
        top: 5px;
        left: -42px;
        z-index: 2;
        height: 83%;
        margin: 0;
        width: 40px;

        .entry__checked__button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            margin: 0;
            right: 0px;
            width: 60px;
            min-width: unset;
        }
    }
    md-switch.md-primary {
        margin: 0;

        ._md-label {
            position: absolute;
            top: -5px;
        }
    }
    &.start-of-day {
        width: 100%;
    }
}
.cyclone-table {
    padding: 20px 10px;

    > .row:first-of-type {
        padding-top: 20px;
    }

    .project-type--work md-card{
        background-color: lightyellow;
        border-bottom: 2px solid orange;
    }
    .project-type--internal md-card {
        background-color: #ffdb6e;
        border-bottom: 2px solid orange;
    }
    .project-type--trust md-card{
        background-color: #e1c2e6;
        border-bottom: 2px solid #9724e6;
    }
    .project-type--private md-card{
        background-color: lightblue;
        border-bottom: 2px solid blue;
    }

    .project-type--system {
        .entry-card {
            height: 80px;
        }
    }
    // Done entries are green
    .done md-card {
        opacity: 1;
        background-color: #c6ffc6;
    }

    .show-on-hover,
    .entry__options {
        position: relative;
        -webkit-transition: opacity 400ms ease-in-out;
        transition: opacity 400ms ease-in-out;
        opacity: 0;
    }

    &.timeline {
        .entry__checked:before {
            content: '';
            position: absolute;
            display: block;
            height: 100%;
            left: 10px;
            border-left: 1px dashed gray;
            opacity: 0.5;
        }
        .entry {
            width: 100%;
            &:hover {
                .show-on-hover,
                .entry__options {
                    opacity: 1;
                }
                // Type of entry selection:
                md-radio-button {
                    opacity: 0.6;
                }
                .entry__checked:before {
                    opacity: 1;
                    border-left: 1px solid gray;
                }

            }

            md-card {
                flex: 1 0 88%;
            }
        }
    }

    // Every card in the timetable
    .entry-card {
        .fadeOutPrepare();
        height: 366px;
        @media only screen and (min-width: 600px) {
            height: 166px;
        }

        // Fix the width of the types to not jump around.
        .entry__type {
            width: 145px;
        }

        // When the task is tracked, we only show it minimal.
        &.done {
            height: 160px;
            @media only screen and (min-width: 600px) {
                height: 80px;
            }

            // remove all types, but not the checked one
            .entry__type md-radio-button:not(.md-checked) {
                display: none;
            }

        }

        // Time information change when task is done
        .entry__time-information {
            position: absolute;
            bottom: 0;
            left: 10px;
            padding: 10px 0;
            .fadeOutPrepare();
        }
        &.done  .entry__time-information {
            .fadeOut();
        }
    }
}

// Set transition and make sure we have opacity and a max-height
.fadeOutPrepare(){
    transition: opacity 400ms ease-in-out, height 400ms ease-in-out;
    opacity: 1;
}

.fadeOut(){
    opacity: 0;
}


md-radio-button {
    opacity: 0.3;
    &.md-checked {
        opacity: 1 !important;
    }
}

.stats-title {
    text-align: center;
    font-size: 1.2rem;
    padding: 5px;
}
.stats-entry {
    padding: 10px;
    text-align: center;
}
.stats-title > div,
.stats-entry > div {
    padding: 5px;
}
.footer-stats__totals {
    text-align: center;
    font-size: 1.2rem;
    height: auto;
    max-height: none;

    @media only screen and (min-width: 960px) {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 101;
    }


    &:hover {
        ~ .footer-stats__details {
            transform: translateY(0);
        }
    }
}
.footer-stats__details {
    height: auto;
    max-height: none;

    @media only screen and (min-width: 960px) {
        position: fixed;
        bottom: 95px;
        left: 0;
        width: 100%;
        z-index: 100;
        transition: transform 500ms;
        transform: translateY(100%);
    }

    &:hover {
      transform: translateY(0);
    }

    &.hidden {
        transform: translateY(100%);
    }
    &.show-tasks {
        transform: translateY(40%);
    }
}

.stats-totals {
    text-align: left;
    width: 90%;
    margin: 0 auto;

    .day-visualize {
        width: 100%;
    }
}

.stats-totals__internals {
    display: block;
    font-size: 0.7rem;
}

.page {
  @media only screen and (min-width: 960px) {
    padding-bottom: 300px;
  }
}
.md-headline {
  font-size: 1rem;
  @media only screen and (min-width: 960px) {
    font-size: 24px;
  }
}
/* the private time entries look different */
.footer-stats__private:last-child {
    background: repeating-linear-gradient(-45deg, transparent, transparent 10px, rgba(255,255,255,.2) 5px, rgba(255,255,255,.2) 15px);
}

/** Animate hide **/
.animate-hide {
    transition: all linear 0.5s;
    opacity: 1;
    height: 130px;

    md-card-title {
        display: block;
        padding: 24px 16px 0;
    }
    md-card-content {
        display: block;
        padding: 10px;
    }
}

.animate-hide.ng-hide {
    opacity: 0;
    height: 0;
}

.day-visualize {
    width: 90%;
    text-align: center;
    margin: 0px auto 20px;

    display: flex;
    align-items: flex-end;

    .dayVisualize-entry {
        display: inline-block;
        margin: 1px;
        height: 50px;
        min-width: 10px;
        color: black;
        overflow: visible;

        width: auto !important;
        flex-basis: 0;
        flex-grow: 1;
        transition: all .5s cubic-bezier(.35,0,.25,1);
    }


    // Make a gap between the work times and the trust button, but only in the stats totals
    .project-type--trust {
        .stats-totals & {
            margin-left: 2%;
        }
    }
}

.dayVisualize-entry-content {
    line-height: 1rem;

    &.dayVisualize-entry-content--project {
        font-size: 1rem;
        font-weight: bold;
    }
    &.dayVisualize-entry-content--text {
        font-size: 0.8rem;
    }
    &.dayVisualize-entry-content--time-start {
        position: absolute;
        color: white;
        bottom: -20px;
        left: -10px;
    }
    &.dayVisualize-entry-content--time-end {
        position: absolute;
        color: white;
        bottom: -20px;
        right: -10px;
    }
}

.dayVisualize-entry {
    // Increase height of elements which are not checked
    &.project-type--internal.checked--no,
    &.project-type--work.checked--no {
        height: 80px;
    }

    // diagonal lines in the background for trust and private time
    &.project-type--trust,
    &.project-type--private {
        background: repeating-linear-gradient(-45deg, transparent, transparent 10px, rgba(255,255,255,.5) 5px, rgba(255,255,255,.5) 15px);
    }
    // Vertical lines for the internal backgrounds
    &.project-type--internal {
        background: repeating-linear-gradient(90deg, transparent, transparent 10px, rgba(255,255,255,.5) 5px, rgba(255,255,255,.5) 15px);
    }

    &.project-type--system {
        flex-grow: 0 !important;
        display: none !important; // We don't show the system entries in the graphs for now.
    }
}

button.dayVisualize-entry.md-button {
    font-size: 0.7rem;
}
button.dayVisualize-entry.md-button:hover {
    min-width: 150px !important;
}

.day-visualize.project-sum {
    transition: all 1s;
}
.footer-stats.open .dayVisualize.project-sum {
    height: 100%;
    margin: 20px;
}

// The continue tasks time summary
.project-card ._md-subheader-inner {
    padding: 0;
}
// Smaller human times
.duration.duration--human {
  font-size: 0.6rem;
}

// Grouped
.group__time-information {
    padding: 10px;
}