// New navigation
@navigationWidth: 100px;
.navigation-left-side {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: @navigationWidth;
  z-index: 2;
  text-align: center;

  nav,
  .nav {
    height: 100%;
  }
}

.nav__element {
  display: flex;
  margin: 5px 0;
  padding: 0;
  width: 100%;
  min-height: 35px;
  color: white;
  text-decoration: none;

  md-icon {
    color: white;
  }

  &.md-active {
    background-color: @colorPrimaryDark;
  }

  .material-icons {
    margin-left: 0;
    margin-right: 8px;
  }
}
.nav__element--logo {
  min-height: 50px;
  margin: 0;
  .nav__element__content {
    align-items: center;
  }
}

.nav__element__content {
  width: 100%;
  display: flex;
  justify-content: center;
}


.cyclone-logo {
  height: 30px;
  width: 100%;
  max-width: 100%;
}

.version a {
  color: white;
  font-size: 0.6em;
  text-decoration: none;
}

.date-switcher {
  padding: 0 10px;
  color: grey;
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}