# OSX files
.DS_Store

# Dependency directories
node_modules

# Ignore php storm
.idea

# Firebase related excludes
public/404.html
js/config/config.production.js
js/config/config.staging.js

# Project build files
public/
