# OSX files
.DS_Store

# Dependency directories
node_modules

# Ignore editors
.idea
.vscode
.firebase

# Firebase related excludes
public/404.html
js/config/config.*.js

# Project build files
public/
