<div ng-show="$ctrl.user.username"
     class="component__content">
    <md-card ng-if="$ctrl.error">
        <md-card-title>
            <div class="md-headline">
                Error
            </div>
        </md-card-title>
        <md-card-content>
            {{$ctrl.error}}
        </md-card-content>
    </md-card>

    <div class="cyclone-table cyclone-table--tasks" flex="grow">
        <div class="cyclone-table-header" md-colors="{background:'primary'}" layout="row">
            <date-switcher flex="40"></date-switcher>
        </div>
        
        <div layout="row" class="calendar-day-names">
            <div flex=20
                ng-repeat="day in $ctrl.weekDays track by $index"
                hide show-gt-sm>
                {{ day }}
            </div>
        </div>
        <md-grid-list
            md-cols="7" md-cols-xs="2" md-cols-sm="6" md-cols-md="7" 
            md-row-height="1:1" md-row-height-md="2:3" md-row-height-gt-md="1:1"
            md-gutter="12px">
            <md-grid-tile
                ng-if="$ctrl.weekStart > 0"
                ng-repeat="day in [].constructor($ctrl.weekStart) track by $index"
                md-colspan-sm="{{(($index >= 5) && 1 || 2)}}"
                >
            </md-grid-tile>
            <md-grid-tile
                md-colspan="1" md-colspan-sm="{{((DayData.weekend == true) && 1 || 2)}}"
                ng-repeat="(Day, DayData) in $ctrl.calendar"
                class="calendar__tile"
                ng-class="[
                    {true: 'calendar__tile--weekend', false: ''}[DayData.weekend == true],
                    {true: 'calendar__tile--warning', false: ''}[DayData.uncheckedWarning == true]
                ]">
                <div class="calendar__content">
                    <md-chip class="calendar__day">
                        <md-button
                            class="calendar__link"
                            ui-sref="task({year: DayData.dateDetails.year, month: DayData.dateDetails.month, day: DayData.dateDetails.date})"
                            ui-sref-active="md-active">
                            <div class="nav__element__content">
                                {{ DayData.dateDetails.date }}.
                            </div>
                        </md-button>
                        <div class="calendar__warning" ng-if="DayData.uncheckedWarning">⚠️</div>
                    </md-chip>
                    <div class="calendar__text" layout-align="center">
                        <div ng-if="8 <= DayData.sumHours"
                            ng-repeat="project in DayData.projects"
                            class="calendar__entry"
                            ng-style="{'flex-grow': project.amount}">
                           {{ project.name }}
                       </div>

                        <div ng-if="8 > DayData.sumHours"
                             ng-repeat="project in DayData.projects"
                             class="calendar__entry"
                             ng-style="{'height': project.amount * 12 + '%'}">
                            {{ project.name }}
                        </div>
                        <div class="calendar__nowork"
                             ng-if="8 > DayData.sumHours"
                             ng-style="{'height': (8 - DayData.sumHours) * 12 + '%'}">
                        </div>
                    </div>
                </div>
                <md-grid-tile-footer class="calendar__footer">
                    {{ DayData.sum | timeInUserSelectedFormat : $ctrl.features.timeFormat.value }}
                </md-grid-tile-footer>
            </md-grid-tile>
        </md-grid-list>
    </div>
    <!-- END: cyclone-table-->

    <!--<pre>
        {{ $ctrl.entriesCurrentGroups | json }}
    </pre>-->


    
    <pre>{{ $ctrl.entries | json }}</pre>
    <!-- <pre>{{ profile | json }}</pre> -->
   
</div>
