<div ng-show="$ctrl.user.username"
     class="component__content">
    <md-card ng-if="$ctrl.error">
        <md-card-title>
            <div class="md-headline">
                Error
            </div>
        </md-card-title>
        <md-card-content>
            {{$ctrl.error}}
        </md-card-content>
    </md-card>

    <div class="cyclone-table cyclone-table--tasks" flex="grow">
        <div class="cyclone-table-header" md-colors="{background:'primary'}" layout="row">
            <date-switcher flex="40"></date-switcher>
        </div>
        
        <div layout="row">
            <div flex=20 ng-repeat="day in $ctrl.weekDays track by $index">
                {{ day }}
            </div>
        </div>
        <md-grid-list
            md-cols="7"
            md-row-height-gt-md="1:1" md-row-height="2:2"
            md-gutter="12px" md-gutter-gt-sm="8px">
            <md-grid-tile
                ng-if="$ctrl.weekStart > 0"
                ng-repeat="day in [].constructor($ctrl.weekStart) track by $index">
            </md-grid-tile>
            <md-grid-tile
                ng-repeat="(Day, DayData) in $ctrl.calendar"
                class="calendar__tile"
                ng-class="{true: 'calendar__tile--weekend', false: ''}[DayData.weekend == true]">
                <div class="calendar__content">
                    <md-chip class="calendar__day">
                        <md-button
                            class="calendar__link"
                            ui-sref="task({year: DayData.dateDetails.year, month: DayData.dateDetails.month, day: DayData.dateDetails.date})"
                            ui-sref-active="md-active">
                            <div class="nav__element__content">
                                {{ DayData.dateDetails.date }}.
                            </div>
                        </md-button>
                        <div class="calendar__warning" ng-if="DayData.uncheckedWarning">⚠️</div>
                    </md-chip>
                    Loading state: {{$ctrl.doneLoading}}
                    <div layout="row" layout-sm="column" layout-align="space-around" ng-if="!DayData.doneLoading">
                        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                    </div>
                    <div class="calendar__text" layout-align="center">
                        <div ng-repeat="entry in DayData.projects"
                             class="calendar__entry">
                            {{ entry }}
                        </div>
                    </div>
                </div>
                <md-grid-tile-footer>
                    {{ DayData.sum | timeInUserSelectedFormat : $ctrl.features.timeFormat.value }}
                </md-grid-tile-footer>
            </md-grid-tile>
        </md-grid-list>
    </div>
    <!-- END: cyclone-table-->

    <!--<pre>
        {{ $ctrl.entriesCurrentGroups | json }}
    </pre>-->


    
    <pre>{{ $ctrl.entries | json }}</pre>
    <!-- <pre>{{ profile | json }}</pre> -->
   
</div>
