.header .header__version {
    float: right;
}
.profileLink {
    color: white;
    cursor: pointer;
}
.inline {
    display: inline-block;
}
.timelog__entries {
    margin: 0 auto;
}
.time-information > div {
    padding: 10px;
    display: inline-block;
}
.cyclone-table {
    width: 100%;
    border-collapse: collapse;
    display: table;
}
.cyclone-table > div {
    display: table-row;
}
.cyclone-table > div > div {
    display: table-cell;
    vertical-align: middle;
    /** make this on mobile 33% **/
}
.cyclone-table .work {
    background-color: lightyellow;
    border-bottom: 1px solid orange;
}
.cyclone-table .work.done {
    background-color: #c6ffc6;
    border-bottom: 1px solid darkgreen;
}
.cyclone-table .private {
    background-color: lightblue;
    border-bottom: 1px solid blue;
}
.cyclone-table .show-on-hover,
.cyclone-table .options > div {
    -webkit-transition: opacity 400ms ease-in-out;
    transition: opacity 400ms ease-in-out;
    opacity: 0;
}
.cyclone-table :hover .show-on-hover,
.cyclone-table :hover .options > div {
    opacity: 1;
}
.cyclone-table .options md-checkbox,
.cyclone-table .options md-switch,
.cyclone-table .options md-fab {
    margin: 0 !important;
}
.cyclone-table .duration {
    text-align: center;
}
.cyclone-table .md-errors-spacer {
    display: none;
}
.footer-stats {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
}
.stats-entry {
    padding: 10px;
    text-align: center;
}
.page {
    padding-bottom: 100px;
}