.header .header__version {
    float: right;
}
.profileLink {
    color: white;
    cursor: pointer;
}
.inline {
    display: inline-block;
}
.timelog__entries {
    margin: 0 auto;
}
.time-information > div {
    padding: 10px;
    display: inline-block;
}
.cyclone-table {
    width: 100%;
    border-collapse: collapse;
    display: table;
}
.cyclone-table > div {
    display: table-row;
}
.cyclone-table > div > div {
    display: table-cell;
    vertical-align: middle;
    /** make this on mobile 33% **/
}
.cyclone-table .work {
    background-color: lightyellow;
    border-bottom: 1px solid orange;
}
.cyclone-table .work.done {
    background-color: #c6ffc6;
    border-bottom: 1px solid darkgreen;
}
.cyclone-table .private {
    background-color: lightblue;
    border-bottom: 1px solid blue;
}
.cyclone-table .show-on-hover,
.cyclone-table .options > div {
    -webkit-transition: opacity 400ms ease-in-out;
    transition: opacity 400ms ease-in-out;
    opacity: 0;
}
.cyclone-table :hover .show-on-hover,
.cyclone-table :hover .options > div {
    opacity: 1;
}
.cyclone-table .options md-checkbox,
.cyclone-table .options md-switch,
.cyclone-table .options md-fab {
    margin: 0 !important;
}
.cyclone-table .entry__text {
    width: 68%;
}
.cyclone-table .entry__project {
    width: 28%;
}
.cyclone-table .duration {
    text-align: center;
}
.cyclone-table .md-errors-spacer {
    display: none;
}
.footer-stats {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 90px;
    max-height: none;
}
.stats-title {
    text-align: right;
    padding-right: 20px;
    border-right: 1px solid white;
}
.stats-entry {
    padding: 10px;
    text-align: center;
}
.stats-title > div,
.stats-total > div,
.stats-entry > div {
    height: 25px;
}
.stats-total {
    text-align: right;
    padding-left: 20px;
    border-left: 1px solid white;
}
.page {
    padding-bottom: 100px;
}
/* the private time entries look different */
.footer-stats__private:last-child {
    color: #3f51b5;
}

/** Animate hide **/
.animate-hide {
    transition: all linear 0.5s;
    opacity: 1;
    height: 182px;
}

.animate-hide.ng-hide {
    opacity: 0;
    height: 0;
}

.day-visualize {
    height: 50px;
    padding: 50px;
    text-align: center;
}

.dayVisualize-entry {
    display: inline-block;
    min-width: initial;
    margin: 1px;
    height: 50px;
}
.dayVisualize-entry.work.checked--no {
    height: 100px;
}
