<div>
  {{$ctrl.currentNavItem}}
  <md-content class="md-padding">
    <div class="profile profile--crud">
      <md-toolbar class="md-warn">
        <strong>currentNavItem: {{ $ctrl.currentNavItem }}</strong>
        TODO: Filter the features according to the $ctrl.currentNavItem
      </md-toolbar>
      <profile-detail
        ng-repeat="feature in $ctrl.features"
        feature="feature"
        on-update="$ctrl.updateFeature($event)">
      </profile-detail>
    </div>
  </md-content>
  <div
        class="profile__empty"
        ng-if="!$ctrl.features">
        <i class="material-icons">face</i>
        There's nothing yet here...
      </div>
      <ui-view></ui-view>
</div>