<div class="md-toolbar-tools">
    <h1>
        <md-icon>featured_play_list</md-icon> {{ $ctrl.listTitle }}
    </h1>
</div>
<div layout="row"
     ng-repeat="(Group, GroupData) in $ctrl.data"
     ng-if="GroupData"
     layout-align="start stretch"
     class="task project-type--{{GroupData.type}}"
     ng-class="{true: 'done', false: ''}[GroupData.checked == true]"
     >
     <!--ng-animate-ref="{{ Group }}"-->

    <div class="timeline-visual" flex="none">
        {{ GroupData.timestamp | date:'HH:mm' }}
    </div>

    <md-card layout="row" class="card" flex="grow">
        <div class="task__identifier"
         layout="column"
         layout-align="space-around stretch">
        <!-- Checkbox -->
        <div class="task__checkbox">
            <md-checkbox aria-label="GroupsChecked"
                         ng-checked="GroupData.checked"
                         clipboard
                         text="GroupData.durationNotChecked / 1000 / 60 / 60 | number : 2"
                         on-copied="$ctrl.timeline.copySuccess(); GroupData.checked = !GroupData.checked; $ctrl.data.$save(GroupData)"
                         on-error="$ctrl.timeline.copyFail(err)"
                         class="md-primary">
            </md-checkbox>
            <md-tooltip md-direction="top">
                <span ng-if="!GroupData.checked">Check all</span>
                <span ng-if="GroupData.checked">Un-check all</span>
            </md-tooltip>
        </div>
        <!-- Type -->
        <md-input-container md-no-float class="entry__info__select entry__info__select--type">
            <md-select ng-model="GroupData.type"
                       aria-label="Type of the entry"
                       ng-change="$ctrl.data.$save(GroupData)" >
                <md-option ng-repeat="type in $ctrl.timeline.timeTypesService" ng-value="type.value">
                    <md-icon>{{type.icon}}</md-icon> <span class="option__name">{{type.name}}</span>
                </md-option>
            </md-select>
        </md-input-container>
    </div>

        <div class="entry entry--group"
             layout="column">

                <div class="entry__info"
                     layout-wrap
                     layout="row"
                     layout-align="start center">

                <!-- Project -->
                <md-input-container md-no-float class="entry__info__input entry__info__input--project">
                    <input ng-model="GroupData.project"
                           ng-change="$ctrl.data.$save(GroupData)"
                           type="text"
                           aria-label="project"
                           placeholder="Project"
                           autocomplete="Project"
                           ng-model-options="{updateOn: 'blur'}"
                    />
                </md-input-container>

                <!-- Task name -->
                <md-input-container md-no-float class="entry__info__input entry__info__input--task">
                    <input ng-model="GroupData.task"
                           ng-change="$ctrl.data.$save(GroupData)"
                           type="text"
                           aria-label="Task"
                           placeholder="Task / Issue"
                           autocomplete="Task"
                           ng-model-options="{updateOn: 'blur'}"
                    />
                </md-input-container>

                <!-- Time information -->
                <div flex="nogrow" layout="row" layout-align="start center" class="entry__info__time-information">
                    <div ng-if="GroupData.indeterminate">
                        <md-icon>warning</md-icon>
                    </div>
                    <div>
                        <div ng-if="GroupData.durationNotChecked > 0">
                            <span ng-if="GroupData.indeterminate">Un-checked time:</span>
                            <span class="duration duration--decimal">
                                                <span
                                                        clipboard
                                                        text="GroupData.durationNotChecked / 1000 / 60 / 60 | number : 2"
                                                        on-copied="$ctrl.timeline.copySuccess();"
                                                        on-error="$ctrl.timeline.copyFail(err)"
                                                        class="">
                                                    <!-- on-copied+= $ctrl.timeline.updateGroupStatus(GroupData, true); -->
                                                    <md-tooltip md-direction="bottom">
                                                        Copy time
                                                    </md-tooltip>
                                                    <strong>{{ GroupData.durationNotChecked / 1000 / 60 / 60 | number : 2 }}</strong> h
                                                </span>
                                            </span>
                            <span>in {{ GroupData.amountNotChecked }} slots</span>
                        </div>
                        <div ng-if="GroupData.durationChecked > 0">
                                            <span class="duration duration--decimal">
                                                <!-- TODO: Verify if we really should force an update, even when the group is "indeterminate". -->
                                                <span ng-if="GroupData.indeterminate">Checked time:</span>
                                                <span
                                                        clipboard
                                                        text="GroupData.durationChecked / 1000 / 60 / 60 | number : 2"
                                                        on-copied="$ctrl.timeline.copySuccess();"
                                                        on-error="$ctrl.timeline.copyFail(err)"
                                                        class="done">
                                                    <md-tooltip md-direction="bottom">
                                                        Copy time
                                                    </md-tooltip>
                                                    {{ GroupData.durationChecked / 1000 / 60 / 60 | number : 2 }} h
                                                </span>
                                            </span>
                            <span>in {{ GroupData.amountChecked }} slots</span>
                        </div>
                    </div>
                </div>

                <!-- Description -->
                <md-input-container md-no-float class="entry__info__input entry__info__input--text">
                    <input ng-model="GroupData.text"
                           ng-change="$ctrl.data.$save(GroupData)"
                           type="text"
                           class="validate"
                           aria-label="Task description"
                           placeholder="Task description"
                           autocomplete="task description"
                           ng-model-options="{updateOn: 'blur'}"
                    />
                </md-input-container>
                <div class="entry__time-information">
                    <div class="duration duration--human">
                        <span>{{ GroupData.timestampDuration | humanizeDate  }}</span>
                        <span>&nbsp;|&nbsp;</span>
                        <span class="duration duration--decimal">
                                                    <!-- timediff / miliseconds (1000) / minutes(60) / calculate decimal hours (60) -->
                                                    <strong>{{ GroupData.timestampDuration / 1000 / 60 / 60 | number : 2 }}</strong> h</span>
                    </div>
                </div>

                <!-- Continue button -->
                <!-- LETS SIMPLIFY THE GUI and disable the continue button -->
                <!--<span>
                    <md-button class="md-fab md-primary md-mini"
                               aria-label="Continue Group"
                               ng-click="$ctrl.timeline.continueGroup(GroupData)">
                            <md-tooltip md-direction="top"><span>Track current timer and continue now on this Group</span></md-tooltip>
                            <md-icon>play_arrow</md-icon>
                        </md-button>
                </span>-->
                <!-- Add button -->
                <div class="entry__actions"
                     flex="auto"
                     layout="row"
                     layout-align="end none"
                >
                    <md-button class="md-fab md-primary md-mini"
                               aria-label="Use task"
                               ng-click="$ctrl.timeline.cloneEntry(GroupData)">
                        <md-tooltip md-direction="top">
                            Use this project & description for current timer
                        </md-tooltip>
                        <md-icon>arrow_upward</md-icon>
                    </md-button>
                    <md-button class="md-fab md-primary md-mini"
                               aria-label="Add current timer to this Group"
                               ng-click="$ctrl.timeline.addEntryToGroup(GroupData)">
                        <md-tooltip md-direction="top">
                            Track current timer into this group
                        </md-tooltip>
                        <md-icon>playlist_add</md-icon>
                    </md-button>
                    <!-- DELETE BUTTON -->
                    <md-button ng-click="$ctrl.timeline.deleteEntry(GroupData);"
                               class="md-fab md-mini"
                               aria-label="Delete entry">
                        <md-tooltip md-direction="top">
                            Delete
                        </md-tooltip>
                        <md-icon>delete_forever</md-icon>
                    </md-button>
                </div>


            </div> <!-- END of entry entry--group -->
        </div>
    </md-card>
</div>