<div class="stats-totals">
    <div class="day-visualize timeType-sum">
        <md-button ng-repeat="entry in $ctrl.workTypes track by $index"
         ng-if="entry._width !== 0"
         class="dayVisualize-entry project-type--{{entry.type}}"
         ng-style="{'background-color':'' + entry._color + '', 'flex-grow':'' + entry._width + ''}"
         aria-label="info">
            <md-icon>{{entry._icon}}</md-icon>
            <!-- TODO: Make the full name as tooltip or something like that -->
            <!--<div class="dayVisualize-entry-content dayVisualize-entry-content&#45;&#45;type">{{entry._name}}</div>-->
            <div class="dayVisualize-entry-content dayVisualize-entry-content--time">{{entry.duration | humanizeDateShort }}</div>
        </md-button>
    </div>
</div>
