<!-- TODO: This would be rather its own component, but needs all the stats data in a service or similar -->
<stats-total work-total="$ctrl.statsTotalWork" flex="none"></stats-total>
<stats-types work-types="$ctrl.dayVisualizeWorkTypeTotals"></stats-types>

<!-- TODO: Make this its own component please :)
<div
 ng-show="$ctrl.refDayVisArray"
 class="container"
 layout="column" layout-align="center stretch">

    &lt;!&ndash;<div class="stats-title">
        <strong>Tasks</strong>
    </div>&ndash;&gt;
    <div class="day-visualize">
        <md-button ng-repeat="entry in $ctrl.refDayVisArray | orderObjectBy:'order':true"
         class="dayVisualize-entry project&#45;&#45;{{entry.project}} project-type&#45;&#45;{{entry.type}}"
         ng-class="[
                {true: 'checked&#45;&#45;yes', false: 'checked&#45;&#45;no'}[entry.checked == true],
                {true: 'work', false: 'private'}[entry.type == 'work'],
             ]"
         ng-style="{'flex-grow':'' + entry._width + ''}"
         aria-label="info">
            <md-tooltip md-direction="top">
                {{entry.project}}: {{entry.text}}
            </md-tooltip>
            <div class="dayVisualize-entry-content dayVisualize-entry-content&#45;&#45;text">{{entry.text}}</div>
            &lt;!&ndash;<div class="dayVisualize-entry-content dayVisualize-entry-content&#45;&#45;duration">{{entry.timestampDuration | humanizeDate }}</div>&ndash;&gt;
            <div class="dayVisualize-entry-content dayVisualize-entry-content&#45;&#45;time-start">{{entry.timestampStart | date:'H:mm'}}</div>
            <div ng-if=$last class="dayVisualize-entry-content dayVisualize-entry-content&#45;&#45;time-end">{{entry.timestamp | date:'H:mm'}}</div>
        </md-button>
    </div>
</div>-->
