<div class="nav" layout-padding layout="column" layout-align="center center">
    <a ui-sref="welcome" class="nav__element">
        <img class="cyclone-logo" src="/img/cycloneWhite.svg">
    </a>
    <md-button
            class="nav__element"
            ui-sref="time({year: $ctrl.currentDate.year, month: $ctrl.currentDate.month, day: $ctrl.currentDate.day})"
            ui-sref-active="md-active">
        <md-icon>timeline</md-icon>
        <div>time</div>
    </md-button>
    <md-button
            class="nav__element"
            ui-sref="task({year: $ctrl.currentDate.year, month: $ctrl.currentDate.month, day: $ctrl.currentDate.day})"
            ui-sref-active="md-active">
        <md-icon>playlist_add_check</md-icon>
        <div>task</div>
    </md-button>
    <md-button
            class="nav__element"
            ui-sref="projects-crud"
            ui-sref-active="md-active">
        <md-icon>bookmark_border</md-icon>
        <div>projects</div>
    </md-button>
    <div class="nav__element" ng-if="nextDateLink">
        <span>archive</span>
    </div>
    <div flex="grow"></div>
    <div flex="nogrow">
        <div class="card-content white-text">
            <a ng-click="ProfileOpen = !ProfileOpen" class="profileLink">
                <md-icon>account_circle</md-icon>
                <span>{{ $ctrl.user.username }}</span>
            </a>
            <div ng-show="ProfileOpen" id="ProfileOpen">
                <a id="logoutButton"
                   ng-click="$ctrl.logout()"
                   class=""
                   ng-show="$ctrl.user">
                    <md-button class="md-raised md-primary" aria-label="Login">Logout</md-button>
                </a>
                <div id="account-details" ng-show="userIsAdmin"></div>
            </div>

        </div>
    </div>
    <version-display></version-display>
</div>