<div class="cyclone-toolbar add-time-component">
    <md-card>
        <div class="md-headline">
            <div ng-if="!$ctrl.newEntryManualTime.value">
                <span>What have you done in the last</span>
                <em>{{ $ctrl.currentDuration | humanizeDate }}</em>
            </div>
            <div ng-if="$ctrl.newEntryManualTime.value">
                <span>What have you done until {{$ctrl.newEntryManualTime.value | date : "H:mm"}}</span>
            </div>
        </div>
        <form ng-submit="$ctrl.addEntry()" layout="row" name="addEntryForm">
            <autocomplete-project
                    flex="20"
                    project="$ctrl.newEntryProject"
                    set-focus="$ctrl.focusNewEntryProject">
            </autocomplete-project>

            <md-input-container flex="15">
                <input id="newTaskName"
                       type="text"
                       ng-model="$ctrl.newEntryTask"
                       aria-label="Task">
                <label for="newTaskName">Task / Issue</label>
            </md-input-container>

            <md-input-container flex="33">
                <input id="newTaskText"
                       type="text"
                       ng-model="$ctrl.newEntryText"
                       aria-label="Description text of new task">
                <label for="newTaskText">Description</label>
            </md-input-container>

            <md-input-container class="entry__info__select entry__info__select--type">
                <label>Type</label>
                <md-select id="newTaskType"
                           ng-model="$ctrl.newEntryType"
                           aria-label="Type of entry"
                           ng-keydown="$event.which === 13 && addEntry()">
                    <md-option ng-repeat="type in $ctrl.timeTypesService" ng-value="type.value">
                        <span style="display: none">{{type.name}}</span><md-icon>{{type.icon}}</md-icon> <span class="option__name">{{type.name}}</span>
                    </md-option>
                </md-select>
            </md-input-container>

            <md-input-container flex="15">
                <input type="time"
                       id="newTaskManualTime"
                       name="input"
                       ng-model="$ctrl.newEntryManualTime.value"
                       placeholder="HH:mm" min="00:00:00" max="24:00:00"/>
                <label for="newTaskManualTime">Manual end time</label>
            </md-input-container>
            <div class="flex">
                <a class="add-button"
                   ng-click="$ctrl.addEntry()">
                    <md-button class="md-fab md-accent" aria-label="Add Entry">
                        <md-icon>add</md-icon>
                    </md-button>
                </a>
            </div>

            <button type="submit" class="submitbutton hide">Submit</button>
        </form>
    </md-card>
</div>